.App {
  text-align: center;
  /* background-image: url('https://i.imgur.com/NzANSfK.jpg'); */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recipeCreateForm {
  display: flex;
  flex-direction: column;
  max-width: 94vw;
  margin: 0 auto;
}

.formCard {
  max-width: 90vw;
  margin: 1em auto;
  padding: 1em;
}

.userListHeaderCard {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

.userCard {
  max-width: 90vw;
  margin: 0.1em auto;
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipeDetail p {
  white-space: pre-line;
  text-align: left;
  margin: 0 1em;
}

.nav-bar {
  background-color: rgb(56, 180, 220);
}

.recipeCard p {
  text-align: left;
  margin: 0 1em;
}

.recipeCard {
  max-width: 94vw;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.nav-bar {
  margin: 0 auto;
  padding: 1em;
}

textarea {
  height: 30vh;
  border-radius: 1em;
  padding: 1em;
}

.recipeCard img {
  width: 100%;
}

.recipeDetail img {
  width: 100%;
}
